li {
  cursor: pointer;
  font-size: 14px;
}

li:hover {
  list-style: none;
  display: inline-block;
  border: 1px black solid;
  padding: 3px;
}

.category-wrapper {
  margin-left: 50px;
  width: 20%;
}

@media (max-width: 768px) {
  .category-wrapper {
    width: 50%;
  }
}
